{% extends 'base.html' %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block pagetitle %}
    <title>House Buyers | Thank you for purchasing</title>
    {% endblock %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- font awsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <!-- font type roboto-->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

      * {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>
  <body>
    {% block content %}

    <section class="about">
      <div
        class="jumbotron jumbotron-fluid bg-dark text-light"
        style="margin-bottom: -2rem !important"
      >
        <h1 class="display-4 text-center">Thank you for purchasing</h1>
        <p class="lead text-center pb-2">
          Please send your queries through our email address, we will try out
          best to get back to you within 24 hours.
        </p>
        <p class="lead text-center">
          <a class="btn btn-light btn-lg rounded-pill" href="/" role="button"
            >Return Home</a
          >
        </p>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>House successfully purchased,</strong> Thank you for your
        service!
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div
        class="container-fluid p-5"
        style="padding-top: 120px !important"
        id="about"
      >
        <div class="row">
          <h1 class="pl-3">Here are the following details</h1>
        </div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">House Address</th>
              <th scope="col">Price</th>
              <th scope="col">Owner</th>
              <th scope="col">Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{houses.id}}</th>
              <td>{{houses.address}}</td>
              <td>£{{houses.price}}</td>
              <td>{{houses.owner}}</td>
              <td>{{user.first_name}}</td>
            </tr>
          </tbody>
        </table>

        <br />
      </div>
    </section>

    {% endblock%}
  </body>
</html>

{% block title %} {% endblock %}
