<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=d  evice-width, initial-scale=1.0" />
    {% block pagetitle %}
    <title>House Buyers</title>
    {% endblock %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- font awsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <!-- font type roboto-->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

      * {
        font-family: "Roboto", sans-serif;
      }

    </style>  
      
  <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">HouseBuyers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            {% block navlinks %}
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          {% endblock %}
        </ul>

        <!-- right hand ul -->
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          {% if time < 12 %}
          <li class="nav-item">
            <span class="badge text-white p-3 m-2">Morning, admin</span>
          </li>
          {% elif time >= 12 and time < 18 %}
          <li class="nav-item">
            <span class="badge text-white p-3 m-2">Afternoon, admin</span>
          </li>
          {% elif time >= 18%}
          <li class="nav-item">
            <span class="badge text-white p-3 m-2">Good Evening, admin</span>
          </li>
          {% endif %}
          {% else %}
          <!-- WORKING TIME START -->
          {% if time < 12 %}
          <li class="nav-item">
            <span class="badge text-white p-3 m-2">Morning, {{user.username}}</span>
          </li>
          {% elif time > 12 and time < 18 %}
          <li class="nav-item">
            <span class="badge text-white p-3 m-2">Afternoon, {{user.username}}</span>
          </li>
          {% elif time >= 18%}
          <li class="nav-item">
            <span class="badge text-white p-3 m-2">Good Evening, {{user.username}}</span>
          </li>
          {% endif %}
          {% endif %}
          <!-- WORKING TIME END -->
          <li class="nav-item">
            <a class="nav-link badge badge-danger p-3 m-2 text-white rounded-pill" style="width: 125px;" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link badge badge-danger p-3 m-2 text-white rounded-pill" style="width: 125px;" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link badge badge-danger p-3 m-2 text-white rounded-pill" style="width: 125px;" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>  
    
      {% endblock %}
        
      
        <!-- MAIN CONTENT INSIDE THIS BLOCK -->
        {% block content %} 

    
        {% endblock %}
        <!-- MAIN CONTENT INSIDE THIS BLOCK END -->

        <!-- HOUSES HERE START -->
        {% block house %}


        {% endblock %}
        <!-- HOUSES HERE END -->

        <!-- INSERT HOSUE BLOCK -->
        {%block child_block%} 

        {% endblock %}
        <!-- INSERT HOSUE BLOCK END -->

        <footer class="bg-dark text-light text-center text-lg-start">
          <div class="container p-4">
            <div class="row">
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
        
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="/" class="text-secondary">Home</a>
                  </li>
                  <li>
                    <a href="/about" class="text-secondary">About</a>
                  </li>
                  <li>
                    <a href="#" class="text-secondary">Contact</a>
                  </li>
                  <li>
                    <a href="#" class="text-secondary">Our Policy</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <a class="text-warning" href="/">HouseBuyers</a>
          </div>
        </footer>

        <!-- scripts for bootstrap -->
        <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
      ></script>
  </body>
</html>