{% extends 'base.html' %} {% block content %}

<!-- some content will come here later -->
<section class="title">
  <div
    class="jumbotron jumbotron-fluid bg-dark text-white"
    style="margin-bottom: 0px !important"
  >
    <div class="container">
      <h1 class="display-3">House Buyers</h1>
      {% if user.is_authenticated %}
      <h3
        class="badge badge-dark rounded-pill"
        style="font-size: 20px !important"
      >
        Welcome back {{user.first_name}} {{user.last_name}}
      </h3>
      <p class="p-2">
        Our system will help you find the house you are looking for. We have
        great houses that you can explore.
      </p>

      <p class="lead">
        <a class="btn btn-light btn-lg rounded-pill" href="create" role="button"
          >Add House</a
        >
      </p>
      {% else %}
      <p class="lead">
        Sign up to our house buyers, to make purchase of the houses available.
      </p>
      {% endif %}
      <br />
    </div>
  </div>

  {% endblock %}
</section>

<!-- START OF HOUSES  -->
{% block house %}
<section class="bg-light">
  <div class="alert alert-dismissible alert-secondary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Alert Message!</strong> This website is still under
    <a href="#" class="alert-link"> development, come back later</a>.
  </div>
  <br />
  <br />

  <div class="container">
    <div class="row">
      {% for house in houses %}
      <div class="card mb-3 ml-4" style="max-width: 540px">
        <div class="row no-gutters">
          <div class="col-md-12">
            <img
              src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
              alt=""
              class="img-fluid"
            />
            <span class="badge badge-light rounded-pill d-block p-2 text-center"
              ><i class="fas fa-user"></i> {{house.owner}}</span
            >
          </div>

          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">{{house.address}}</h5>

              <span
                class="badge badge-dark rounded-pill"
                style="padding: 0.5rem"
                ><i class="fas fa-bed"></i> {{house.bedroomNo}}</span
              >
              <span
                class="badge badge-dark rounded-pill"
                style="padding: 0.5rem"
                ><i class="fas fa-dollar-sign"></i> {{house.price}}</span
              >
              <span
                class="badge badge-dark rounded-pill"
                style="padding: 0.5rem"
                ><i class="fas fa-home"></i> {{house.types}}</span
              >
              <p class="card-text">{{house.desc}}</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <i class="fas fa-info-circle"></i> Seller
                  <i class="fas fa-arrow-right"></i> {{house.sellerName}}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-info-circle"></i> Seller's Number
                  <i class="fas fa-arrow-right"></i> {{house.sellNo}}
                </li>
                <li class="list-group-item">
                  <i class="fas fa-info-circle"></i> Solicitor Name
                  <i class="fas fa-arrow-right"></i> {{house.solicitorName}}
                </li>
              </ul>
              <br />

              <p class="card-text text-right">
                {% if house.offer %}
                <span
                  class="badge badge-danger rounded-pill p-2"
                  style="font-size: 15px"
                  ><i class="fas fa-tags"></i> Special Offer</span
                >
                {% endif %}

                {% if user.is_superuser %}
                <p class="card-text text-right">
                  <a
                    class="btn btn-danger rounded-pill p-2"
                    style="font-size: 15px"
                    href="delete/{{house.id}}"
                    ><i class="fas fa-trash-alt"></i
                  ></a>
                </p>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- END OF HOUSES  -->
{% endblock %}
