{% block content %}

<section class="about">
  <div
    class="jumbotron jumbotron-fluid bg-dark text-light"
    style="margin-bottom: -2rem !important"
  >
    <h1 class="display-4 text-center">Contact us</h1>
    <p class="lead text-center pb-5">
      Please send your queries through our email address, we will try out best
      to get back to you within 24 hours.
    </p>
  </div>

  <div
    class="container-fluid p-5"
    style="padding-top: 120px !important"
    id="about"
  >
    <div class="row">
      <h1>Thank you for purchasing the house!</h1>
    </div>
  </div>
</section>
{% endblock%}
